.header {
  box-shadow: 0px 0px 10px 0px gray;
  width: 100%;
  min-height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22%;
  background-color: rgb(0 0 0 / 60%);
}
button {
    cursor: pointer;
    background: none;
    border: none;
}
.city-detail {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}
#sp1 {
  width: 31%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 2rem; */
}
.form-cont {
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 1%;
}
form button {
  background: none;
  border: none;
}
p {
  font-weight: bold;
}
@media (min-width: 390px) and (max-width: 400px) {
  .header {
    gap: 0;
    flex-wrap: wrap;
  }
  .form-cont {
    margin-top: 2%;
    margin-left: 0%; 
    width: 90%;
  }
  .city-detail {
    width: 90%;
    margin-left: 2%;
  }
  #sp1{
    width: 100%;
  }
}